name: ci

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release Version'     
        required: true
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_HUB }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: |
            modulairy/superset-mysql
      -
        name: Build and push
        id: docker_build
        uses:  docker/build-push-action@v5
        with:
          push: true
          tags: ${{ github.event.inputs.version }}
          labels: ${{ github.event.inputs.version }}
          context: .
          platforms: linux/amd64,linux/arm64
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      - 
        name: Push Readme to Docker Hub
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_HUB }}
          repository: modulairy/superset-mysql
